

/*
a {
  color: #0000f7 !important;
  text-decoration: none;
  background-color: transparent;
}
*/

.border{border: 1px solid #ccc !important;}
.btn-primary {
  background-color: #1777f0 !important;
  border-color: #1777f0 !important;
}
.border-hover-primary:hover {
  border-color: #1777f0 !important;
}
a.bg-hover-primary:hover {
  background-color: #1777f0 !important;
}
a.bg-hover-primary:focus{
  background-color: #1777f0 !important;
}
.btn-primary:focus, .btn-primary.focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 247, 0.25) !important;
}

.text-primary {color: #1777f0 !important;}
.heading-divider {  background-color: #1777f0 !important;}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{color: #1777f0 !important;}



.hover-primary:hover {
  color: #1777f0 !important;
}
.bg-secondary {
  background-color: #1777f0 !important;
}
.text-secondary, a.text-secondary:hover, a.text-secondary:focus {
  color: #1777f0 !important;
}
a.hover-primary:hover {
  color: #1777f0 !important;
}


.slick-arrow:hover, .bg-hover-primary:hover, .agent-3:hover .card-footer, .dropdown-item.active, .dropdown-item:active {
  background-color: #1777f0 !important;
}
.page-item.active .page-link, .page-link:hover {
  background-color: #1777f0 !important;
  border-color: #1777f0 !important;
}
.dashboard-wrapper .db-sidebar .sidebar-item:hover .sidebar-item-icon{color: #1777f0 !important;}

